{% load static tailwind_cli %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />

    {% block title %}
      <title>Koruva</title>
    {% endblock title %}

    {% tailwind_css %}

    {% block css %}
    {% endblock css %}


    {% block javascript %}
    {% endblock javascript %}

  </head>
  <body {% block body_class %} {% endblock %}>
    {% block body %}
      {% block navigation %}
        <nav class="bg-white shadow">
          <div class="container px-4 mx-auto">
            <div class="flex flex-col gap-4 justify-between items-start py-3 md:flex-row md:items-center">
              <!-- Logo and Brand -->
              <a href="{% url 'home' %}" class="flex gap-2 items-center">
                <img src="https://raw.githubusercontent.com/falcopackages/website/refs/heads/main/_static/falco-logo.svg"
                     alt="Logo"
                     class="w-8 h-8" />
                <span class="text-xl font-semibold">Koruva</span>
              </a>
              <!-- Main Menu -->

          </div>
        </nav>
      {% endblock navigation %}

      <main class="container p-4 mx-auto">
        {% for message in messages %}
          <div x-data="{ show: true }"
               x-show="show"
               x-transition
               class="mb-4 p-4 rounded-lg {% if message.tags == 'error' %}bg-red-100 text-red-700{% elif message.tags == 'success' %}bg-green-100 text-green-700{% elif message.tags == 'warning' %}bg-yellow-100 text-yellow-700{% else %}bg-blue-100 text-blue-700{% endif %}"
               role="alert">
            <div class="flex justify-between items-center">
              <span>{{ message }}</span>
              <button @click="show = false"
                      class="ml-4 text-gray-500 hover:text-gray-800 focus:outline-none">
                {% heroicon_outline "x-mark" %}
              </button>
            </div>
          </div>
        {% endfor %}

        {% block content %}
        {% endblock content %}

      </main>
    </body>
  {% endblock body %}

</html>
